################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Algo_collection/v15
/Algo_collection/bin/Debug
/Algo_collection/obj/Debug
